@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./imagini/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color:#fff;
    padding: 20px;
    border-radius: 28px;
    margin: auto;
    width: 50%;
    height: 50%;
    max-height:70vh;
    overflow-y:auto ;
    overflow-x: auto;
        
}

.container h1 {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color:#666666;
}

#newTask {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    flex-grow:1;
}

.container button {
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    width: calc(15% - 10px);
    flex-shrink: 0;
}

.container button:hover {
    background-color: #4caf50;
}

 ul{
    list-style-type: none;
    padding: 0;
    overflow-x: hidden;  
    }
 
li {
    background-color: transparent;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.completed .task-text {
    text-decoration: line-through;
    color: red;
}

.checkbox {
    margin-left: 10px;
    border-radius: 50%;
}

.task-item {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: flex-start;
}

.task-text {
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
}

.delete-button {
    margin-left: 10px;
    width: 30px;
    padding: 5px;
}

.input-container {
    display: flex;
    flex-direction:initial;
    margin-bottom: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    #newTask {
        width:100%    

    }

    .container button {
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 1;
        width: calc(30% - 5px);
        margin-left: 5px;
    }

    .input-container {
        flex-direction: row;
        align-items: flex-end;
    }
}
